* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Russo One', sans-serif;
}

html, body {
    height: 100%;
}

 button:hover {
     cursor: pointer;
     cursor: hand;
     color: black;
     background-color: yellow;
 }

button {
    border: dotted white 2px;
    display: inline-block;
    background-color: #312450;
    color: white;
    padding: 10px;
}

#music {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 70px;
    width: 70px;
}

#top, #right, #bottom, #left, #pause-button, #quit-button, #start-button, #tutorial-button, #controls-button, #back-button, #no-button, #yes-button {
    position: absolute;
}

#pause-button, #quit-button, #start-button, #tutorial-button, #controls-button, #back-button, #no-button, #yes-button {
    font-size: 30px;
}

#top, #right, #bottom, #left {
    height: 50px;
    width: 50px;
    font-weight: 1000;
}

#top {
    top: 20px;
    right: 50%;
}

#right {
    top: 70px;
    left: 50%;
}

#bottom {
    top: 120px;
    right: 50%;
}

#left {
    top: 70px;
    left: calc(50% - 100px);
}

#pause-button, #quit-button {
    bottom: 70px;
}

#pause-button {
    left: calc(50%  - 20px);
}

#quit-button {
    left: calc(50% - 170px);
}

#yes-button, #no-button {
    top: 60%;
}

#yes-button {
    right: calc(50% - 50px);
}

#no-button {
    right: calc(50% + 50px);
}

#canvas-container {
    height: calc(100% - 60px);
    border: dotted white 2px;
}

#blockhead {
    height: 100%;
    width: 100%;
}

#back-button {
    left: 10%;
    top: 10%;
}

#start-button {
    right: 48%;
    top: 50%;
}

#tutorial-button {
    right: 50%;
    top: 62%;
}

#controls-button {
    right: 46%;
    top: 75%;
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 20px;
}

footer a {
    color: white;
    padding: 5px;
}

#copyright-mobile {
    display: none;
}

a, button {
    border-radius: 5px;
}

a:hover {
    cursor: hand;
    color: black;
    background-color: yellow;
}

#logo img {
    height: 30px;
    width: 30px;
}

#logo:hover {
    background-color: yellow;
}

@media screen and (max-width: 767px) {
    #copyright-mobile {
        display: block;
    }

    #copyright-desktop {
        display: none;
    }
}