* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Russo One', sans-serif;
}

html, body {
    height: 100%;
}

 /* #00C3E4 turquoise */
 /* #2A2CA5 purple-one */
 /* #312450 purple-two */
 /* #FFF border color */


 button:hover {
     cursor: pointer;
     cursor: hand;
     color: black;
     background-color: yellow;
 }

button {
    border: dotted white 2px;
    display: inline-block;
    background-color: #312450;
    color: white;
    font-size: 20px;
    padding: 10px;
}

#music {
    position: absolute;
    left: 20px;
    top: 20px;
}

#top, #right, #bottom, #left {
    position: absolute;
}

#top {
    top: 20px;
    right: 50%;
}

#right {
    top: 50%;
    right: 20px;
}

#bottom {
    bottom: 70px;
    right: 50%;
}

#left {
    top: 50%;
    left: 20px;
}

#canvas-container {
    height: calc(100% - 60px);
    border: dotted white 2px;
}

#blockhead {
    height: 100%;
    width: 100%;
}

#start-button, #tutorial-button, #controls-button, #back-button {
    position: relative;
    font-size: 30px;
}

#back-button {
    right: 10%;
    top: 10%;
}

#start-button {
    right: 50%;
    top: 50%;
}

#tutorial-button {
    right: 50%;
    top: 62%;
}

#controls-button {
    right: 50%;
    top: 75%;
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 20px;
}

footer a {
    color: white;
    padding: 5px;
}

#copyright-mobile {
    display: none;
}

a, button {
    border-radius: 5px;
}

a:hover {
    cursor: hand;
    color: black;
    background-color: yellow;
}

#logo img {
    height: 30px;
    width: 30px;
}

#logo:hover {
    background-color: yellow;
}

@media screen and (max-width: 767px) {
    #copyright-mobile {
        display: block;
    }

    #copyright-desktop {
        display: none;
    }
}