body {
  background-color: black;
}

a, h1, label, button {
  font-family: $blockhead-fonts;
}

#blockhead {
  border: solid white 5px;
  width: 900px;
  height: 500px;
  align-self: center;
  margin: 0 auto;
  display: block;
}

h1 {
  font-size: 40px;

  color: white;
  text-align: center;
  text-decoration: underline;
}

h2 {
  @extend h1;
  font-size: 30px;
  margin-top: 30px;
}

h3 {
  @extend h1;
  font-size: 24px;
  margin-bottom: 30px;
}
