label {
  color: white;
  font-size: 16px;
}

#directions {

}

.hidden, .move-hide, .transform-hide, .falling-hide, .goal-hide {
  display: none;
}

.show {
}

.display {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 310px;
  background-color: gray;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 30px;

  a {
    width: 360px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }
}

li {
  @extend div
}

img {
  height: 320px;
  width: 320px;
}

.key {
  width: 250px;
  height: 180px;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 50px;
  z-index: -1;

  label {
    margin-right: 20px;
  }

  img {
    height: 100%;
  }
}
