label {
  color: white;
  font-size: 30px;
}

.hidden {
  display: none;
}

.show {
}

.display {
  position: absolute;
  width: 100%;
  min-height: 520px;
  z-index: 100;
  top: 310px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 30px;

  a {
    width: 360px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }
}

li {
  @extend div;
  margin: 0 auto;
  margin-top: 30px;
  width: 370px;
}

img {
  height: 320px;
  width: 320px;
  margin-bottom: 30px;
}

.key {
  width: 250px;
  height: 180px;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: -1;

  label {
    margin-right: 20px;
  }

  img {
    height: 100%;
  }
}
